.page-wrapper {
    margin: 15px auto;
    display: flex;
    min-height: calc(100vh - 250px);
}

.housing-aside {
    width: 30%;
    padding: 10px 25px;
    margin: 10px 5px 10px 20px;
    background: #e0e9eb;
    border-radius: 6px;
    box-shadow: -8px -3px 15px #97b4b8;
}

.housing-main {
    width: 70%;
    margin: 10px 20px 10px 5px;
    padding: 10px 25px;
    background: #e0e9eb;
    border-radius: 6px;
    box-shadow: 8px -3px 15px #97b4b8;
}

/* aside */

.options-container,
.reservation-btn,
.check-options-icon {
    margin: 25px 10px;
}

.option-block {
    margin-bottom: 25px;
    color: #2e0c20;
    font-size: 18px;
}

.option-input {
    width: 250px;
    color: #2e0c20;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
}

#check-options {
    display: none;
}

.check-options-icon {
    display: none;
}

.reservation-btn {
    width: 260px;
    height: 70px;
    color: #4D1335;
    font-size: 26px;
    background: linear-gradient(0deg, #7e4b6a 0%, #e08ab1 100%);
    border: #ad807b;
    border-radius: 8px;
}

.reservation-btn:hover {
    cursor: pointer;
    color: #3d0d29;
    background: linear-gradient(0deg, #6b3d59 0%, #c9759b 100%);
}

/* main */

.housing-address {
    margin-bottom: 10px;
}

.housing-address > img {
    width: 25px;
    position: relative;
    top: 6px;
}

.stars-rating__item {
    display: inline-block;
}

.stars-rating__item > img {
    width: 15px;
}

.icon-star-black {
    opacity: 0.5;
}

.short-description {
    margin-bottom: 20px;
}

.housing-section {
    padding: 10px 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 15px #97b4b8;
    background: #fff2c8;
    color: #2e0c20;
}

.section-name {
    color: #6a1b4a;
    margin-top: 20px;
}

.price-value,
.guest-count {
    font-size: 18px;
    font-weight: bold;
}

.price {
    padding: 10px;
    margin: 10px 0;
    background: #f5c5e256;
    border: 1px solid #c9759b83;
    border-radius: 5px;
    display: inline-block;
}

.rating-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.rating-value-box {
    padding: 10px;
    margin-right: 20px;
    color: #4D1335;
    font-size: 22px;
    font-weight: bold;
    background: #f5c5e256;
    box-shadow: 0 0 10px #c9759b;
    display: inline-block;
}

.rating-list {
    display: flex;
    flex-wrap: wrap;
}

.rating-list__item {
    margin-right: 20px;
}

.rating-name {
    margin: 10px 0 0;
}
.rating__progress-value {
    position: relative;
    bottom: 3px;
}

.guest-avatar {
    height: 40px;
    border-radius: 50%;
}

.reviews-list__item {
    padding: 10px;
    margin: 10px 0;
    color: #4D1335;
    background: #f5c5e256;
    box-shadow: 0 0 10px #c9759b;
}

.comment-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment-header {
    font-weight: bold;
    margin: 10px 0 0;
}

@media screen and (max-width: 1000px) {
    .option-input {
        width: 200px;
    }
    .reservation-btn {
        width: 210px;
    }
}

@media screen and (max-width: 780px) {
    .page-wrapper {
        flex-direction: column;
        margin: 0;
    }
    .housing-aside,
    .housing-main {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 0;
        box-shadow: none;
    }
    .housing-aside {
        padding-left: 25px;
    }
    .housing-section {
        border-radius: 0;
    }
    .options-container {
        display: flex;
        flex-direction: column;
    }
    .options-container, .reservation-btn, .check-options-icon {
        margin: 0;
    }
    .short-description,
    h1.section-name {
        margin: 10px 30px;
    }
    .check-options-icon {
        display: inline-block;
        position: relative;
        top: 6px;
        cursor: pointer;
        margin-right: 30px;
    }
    .reservation-btn {
        height: 40px;
        font-size: 22px;
    }
    .housing-main {
        padding-top: 0;
    }
    .options-container {
        display: none;
    }
    #check-options:checked ~ .options-container {
		display: flex;
	}
}