.housing-main {
    margin: 15px 30px;
    padding: 10px;
    background: #e0e9eb;
    border-radius: 6px;
    box-shadow: 8px -3px 15px #69878b;
    max-width: 1400px;
}



.housing-address > img {
    width: 25px;
    position: relative;
    top: 6px;
}

.stars-rating__item {
    display: inline-block;
}

.stars-rating__item > img {
    width: 15px;
}

.icon-star-black {
    opacity: 0.5;
}



.guest-avatar {
    height: 40px;
    border-radius: 50%;
}
