.page-wrapper {
    margin: 15px auto;
    display: flex;
    min-height: calc(100vh - 250px); /* прижать футер к низу, если вариантов мало */
}

.rentals-aside {
    width: 30%;
    padding: 10px 25px;
    margin: 10px 5px 10px 20px;
    background: #e0e9eb;
    border-radius: 6px;
    box-shadow: -8px -3px 15px #97b4b8;
}

.rentals-main {
    width: 70%;
    margin: 10px 20px 10px 5px;
    padding: 10px 25px;
    background: #e0e9eb;
    border-radius: 6px;
    box-shadow: 8px -3px 15px #97b4b8;
}

/* aside */

.options-container {
    margin: 25px 10px;
}

.option-block {
    margin-bottom: 25px;
    color: #2e0c20;
    font-size: 18px;
}

.option-input {
    width: 250px;
    color: #2e0c20;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
}

.price-option .option-input {
    width: 88px;
}

#check-options {
    display: none;
}

.check-options-icon {
    display: none;
}

.select-sorting-container {
    text-align: center;
}

.select-sorting {
    height: 30px;
    font-size: 16px;
    color: #2e0c20;
}

/* main */

.variants-count {
    text-align: center;
    margin-bottom: 5px;
    color: #58324a;
}

.variant-card {
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: -5px 5px 15px #97b4b8;
    background: #fff2c8;
}

.housing-description a {
    color: #2e0c20;
}

.housing-description .housing-name {
    color: #6a1b4a;
}

.stars-rating__item {
    display: inline-block;
}

.stars-rating__item > img {
    width: 15px;
}

.icon-star-black {
    opacity: 0.5;
}

.variant-image {
    width: 320px;
}

.carousel-wrapper {
    /* position: relative; */
    width: 320px;
    margin-right: 20px;
}

/* .carousel-wrapper::before {
    content: '1/2';
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 1;
    background: #58324a;
    color: #fff;
    border-radius: 10px;
    height: 20px;
    width: 40px;
    text-align: center;
    transform: translateX(-50%);
    font-size: 13px;
    line-height: 20px;
    padding: 0 4px;
} */

.housing-address > img,
.housing-price > img {
    width: 25px;
    position: relative;
    top: 6px;
}


@media screen and (max-width: 1000px) {
    .variant-card {
        flex-direction: column;
    }
    .option-input {
        width: 200px;
    }
    .price-option .option-input {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    .page-wrapper {
        flex-direction: column;
        margin: 0;
    }
    .rentals-aside,
    .rentals-main {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 0;
        box-shadow: none;
    }
    .rentals-aside {
        padding-bottom: 20px;
    }
    .options-container {
        display: flex;
        flex-direction: column;
    }
    .option-block {
        padding: 10px;
    }
    .variant-card {
        flex-direction: row;
        border-radius: 0;
    }
    .select-sorting-container {
        display: inline-block;
        margin-left: 30px;
    }
    .check-options-icon {
        display: inline-block;
        position: relative;
        top: 8px;
        cursor: pointer;
        margin-left: 30px;
    }
    .options-container {
        display: none;
    }
    #check-options:checked ~ .options-container {
        display: flex;
        margin-left: 20px;
	}
}

@media screen and (max-width: 530px) {
    .variant-card {
        flex-direction: column;
    }
    .carousel-wrapper {
        /* padding: 0; */
        width: 100%;
    }
    .variant-image {
        width: 100%;
    }
    .select-sorting {
        font-size: 14px;
        width: 100%;
    }
    .check-options-icon {
        width: 22px;
    }
    .option-block {
        font-size: 16px;
    }
    .option-input {
        width: 180px;
        font-size: 14px;
    }
}