
.reservation-main {
    margin: 0 auto;
    padding: 10px 0;
    background: #e0e9eb;
    max-width: 1400px;
}

.reservation-section {
    padding: 20px 30px;
    margin: 20px 30px;
    border: 1px solid #015f705d;
    border-radius: 5px;
    box-shadow: -5px 5px 15px #97b4b8;
    background: #fff2c8;
    color: #2e0c20;
    font-size: 18px;
}

.section-name {
    color: #6a1b4a;
    margin-top: 20px;
    margin-bottom: 6px;
}

.date-subsection {
    margin: 10px 0;
}

.date-input,
.date-select {
    width: 150px;
    color: #2e0c20;
    font-size: 16px;
    padding: 2px 5px;
    border-radius: 5px;
    border: none;
}




.payment-list__item > img {
    height: 50px;
}